body{
    font-family: Arial, Helvetica, sans-serif;
    text-transform: capitalize;

}



label{
    display:block;
    padding:5px;
}

select{
    width: 165px;
    height: 25x;
}

.general-info{
    display:flex;
    
}
.general-info div{
    padding-right: 75px;
}
.agencytype{
    width: 240px;
}
.contact-info{
    display: flex;
}

.contact-info div{
    padding-right:75px ;

}

.city{
    width: 80px;
   
    
}
.state{
    width: 80px;
   
}

.officespace{
    border:.025px solid;
    display:inline-flex;
    align-items: baseline;
    width: 165px;
    
}